@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

.titulo {
  font-size: 4rem;
  font-family: "Quicksand", sans-serif;
}

.IPPM {
  font-weight: 600;
}

/* values of properties of animation assigned */
.neon-header {
  text-align: center;
  line-height: 2;
  color: rgb(255, 255, 255);
  animation: neon 1.5s ease-in-out infinite alternate;
}

/* various colour combinations used to create
neon effect */
@keyframes neon {
  from {
    text-shadow: 0 0 35px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff;
  }
}
